<form *ngIf="!gameStarted" [formGroup]="gameOptionsForm" class="d-flex flex-column just-content-center mt-5 mb-5">
    <fieldset>
        <label for="cells">Cells (max: 9): </label>
        <input [min]="4" [max]="9" (ngModelChange)="cellsChanges()" formControlName="cells" type="number" name="cells" placeholder="Cells">
    </fieldset>
    <fieldset>
        <label for="holes">Holes (max: {{maxHoles}}): </label>
        <input [min]="0" [max]="maxHoles" formControlName="holes" type="number" name="holes" placeholder="Holes">
    </fieldset>
    <fieldset>
        <label for="arrows">Arrows (max: 10): </label>
        <input [min]="1" [max]="10" formControlName="arrows" type="number" name="arrows" placeholder="Arrows">
    </fieldset>
    
    <fieldset>
        <button type="button" class="mt-4" [disabled]="!gameOptionsForm.valid" (click)="startGame()">Start</button>
    </fieldset>
</form>
<app-game *ngIf="gameStarted" [game]="game"></app-game>