<table>
    <tr *ngFor="let row of game.board">
        <td *ngFor="let cell of row" id="{{'cell-' + cell.id}}" 
        [ngClass]="{'hidden' : !cell.shown, 'hola' : true && cell.shown}" >
            {{cell.id}}
            <div *ngIf="cell.hero" id="hero" class="direction-{{game.heroDirection}}" [ngClass]="{'has-arrows' : game.arrows}" >🦸</div>
        </td>
    </tr>
</table>
<div>
    <button type="button" (click)="game.turnLeftHero()">TURN LEFT</button>
    <button type="button" (click)="game.moveHero()">MOVE</button>
    <button type="button" (click)="game.turnRightHero()">TURN RIGHT</button>
</div>
<div>
    <button type="button" (click)="game.shot()">SHOT ARROW</button>
</div>
<!--button type="button" (click)="game.moveHeroUp()">UP</button>
<button type="button" (click)="game.moveHeroDown()">DOWN</button>
<button type="button" (click)="game.moveHeroLeft()">LEFT</button>
<button type="button" (click)="game.moveHeroRight()">RIGHT</button-->
